html,body{
    margin: 20px;
    height: calc(100%-40px);
    background-color: #266352;
}
body{
    display: grid;
    grid-template-columns: 3fr 6fr 3fr;
    grid-template-rows: 150px auto auto auto;
    
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
    font-size: 22px;
    font-weight: bolder;
    background-color: rgb(18, 104, 104);
    border: 5px solid #c5b207;
    color: yellow;
}
.d8{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
}
.d1{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 5;
    z-index: 1;
}
.d6{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:  4;
    grid-row-end: 5;
    z-index: 2;
}